* {
    margin: 0;
    padding: 0;
}

.grid-cell-row {
    height: 1em;
    line-height: 1em;
}

.grid-cell-column {
    width: 2.8%;
    height: 1em;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
}