* {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-rowCol), 1fr);
    grid-template-rows: repeat(var(--grid-rowCol), 1fr);
    width: 600px;
    height: 600px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 3%;
    position: absolute;
    top: 13%;
    left: 28%;
    z-index: 1;
}



